<h2>ATUALIZAR ORDEM DE SERVIÇO</h2>
<div class="container">
    <div class="labels">
        <mat-form-field appearance="fill">
            <mat-label>Selecione um técnico</mat-label>
            <mat-select [(value)]="os.funcionario">
                <mat-option *ngFor="let funcio of funcionario" value="{{funcio.id}}">{{funcio.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione um cliente</mat-label>
            <mat-select [(value)]="os.cliente">
                <mat-option *ngFor="let cli of cliente" value="{{cli.id}}">{{cli.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="os.status">
                <mat-option value="1">EM ANDAMENTO</mat-option>
                <mat-option value="2">FECHADO</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prioridade</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0">BAIXA</mat-option>
                <mat-option value="1">MEDIA</mat-option>
                <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Observações</mat-label>
            <textarea [(ngModel)]="os.observacoes" name="observacoes" matInput maxlength="255"></textarea>
        </mat-form-field>
    </form>
    <button (click)=" atualizar()" mat-stroked-button color="primary">ATUALIZAR</button>
    <button (click)="cancelar()" mat-stroked-button color="warn">CANCELAR</button>
</div>